version: '3.8'

services:
  # --- LE SOCLE (Père) ---
  downscaler:
    build: ./downscaler
    image: vidp-base:latest  # <--- IL DEVIENT LA BASE COMMUNE
    volumes:
      - ./data/00_input:/mnt/data/input
      - ./data/01_working:/mnt/data/processed

  # --- LES ENFANTS (Héritent de vidp-base) ---
  lang-ident:
    build: ./lang-ident
    image: vidp-lang
    depends_on:        # <--- On s'assure que le père démarre/existe
      - downscaler
    volumes:
      - ./data/01_working:/mnt/data/input
      - ./data/02_metadata:/mnt/data/processed
      - ./data/cache:/root/.cache

  animal-detect:
    build: ./animal-detect
    image: vidp-animals
    depends_on:
      - downscaler
    volumes:
      - ./data/01_working:/mnt/data/processed
      - ./data/02_metadata:/mnt/data/metadata
      - ./data/cache:/root/.cache
      - ./data/03_output:/mnt/data/final

  subtitler:
    build: ./subtitler
    image: vidp-subs
    depends_on:
      - downscaler
    volumes:
      - ./data/01_working:/mnt/data/input
      - ./data/02_metadata:/mnt/data/metadata
      - ./data/cache:/root/.cache