version: "3.8"

services:
  # Service 1 : Downscaler
  dowscale:
    image: brandon203/vidp-base:v1  # <-- On utilise l'image du Hub !
    command: python app/dowscale.py
    volumes:
      - ./data/00_input:/project/videos
      - ./data/01_working:/project/data

  # Service 2 : Detection Langue
  detectlang:
    image: loyick/vidp-lang:v1
    depends_on:
      - dowscale
    volumes:
      - ./data/01_working:/mnt/data/input
      - ./data/02_metadata:/mnt/data/processed
      - ./data/cache:/root/.cache  # Important : on garde les modèles sur l'hôte
    # La commande de 'wait' est souvent incluse dans l'image ou gérée ici

  # Service 3 : Sous-titres
  subtitles:
    image: loyick/vidp-subs:v1
    depends_on:
      - detectlang
    volumes:
      - ./data/01_working:/mnt/data/input
      - ./data/02_metadata:/mnt/data/metadata
      - ./data/cache:/root/.cache

  # Service 4 : Animaux
  animal-detect:
    image: loyick/vidp-animals:v1
    depends_on:
      - dowscale
    volumes:
      - ./data/01_working:/mnt/data/processed
      - ./data/02_metadata:/mnt/data/metadata
      - ./data/03_output:/mnt/data/final
      - ./data/cache:/root/.cache